*{
    padding: 5px;
    margin: 5px;
}
#search:hover{
    background-color: rgb(250, 210, 149);
}
#search:active{
    background-color: rgb(250, 210, 149);
    box-shadow: 0 3px rgb(255, 179, 151);
    transform: translateY(3px);
}
#search{
    width: 150px;
    border-radius: 12px;
    border-color: rgb(66, 237, 177);
    color: rgba(100, 206, 171, 0.872);
    box-shadow: 0 4px rgb(255, 179, 151);
}
#plus{
    display: block;
    width: 30px;
    border-radius: 100px;
    border-color: rgb(255, 230, 89);
    background-color: rgb(255, 255, 255);
    color: sienna;
}
#plus:hover{
    background-color: rgb(232, 176, 34);
}
#create{
    display: block;
    width: 200px;
    border-radius: 10px;
    border-color: rgb(46, 46, 223);
    color: rgb(35, 35, 155);
    cursor: pointer;
    opacity: 0.6;
    
}
#create:hover{opacity: 1;}